* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

p {
    margin: 1.5rem 0;
    font-size: 1.5rem;
}

code {
    display: block;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 1.5rem 30rem 1.5rem 1.5rem;
    margin: 1rem;
    border-radius: .5rem;
    font-size: 1.5rem;
}

.wrapper {
    max-width: 128rem;
    margin: 0 auto;
    color: #4d4e53;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3.8fr;
}

.wrapper header {
    font-size: 2.8rem;
}

.wrapper section {
    margin: 2rem 0;
}

.wrapper section article {
    margin: 1.5rem;
}

.wrapper section article ul {
    margin-left: 3rem;
}

.wrapper section article ul li {
    margin-top: 1.5rem;
    margin-left: 2rem;
    font-size: 1.5rem;
}

#navbar {
    
}

#main-doc {
    padding: 2rem;
}